.contacts-container{
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
}

.shedule{
    margin-left: 50px;
}

.shedule__title{
    font-size: 32px;
    font-weight: 600;
}

.shifts{
    margin-top: 20px;
    font-size: 20px;
}